@import '@xyflow/react/dist/style.css';

.react-flow__handle {
  opacity: 0;
  pointer-events: none;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family:
    system-ui,
    -apple-system,
    sans-serif;
}
